/* Global Styles */
body{
	font-size: 18px;
	min-width: 411px;
}

/* Navigation */
nav{
	background: blue;
	padding-top: 0.15rem;
	padding-bottom: 0.15rem;
}
.nav-item{
	font-size: 1.15rem;
}

/*********** About ********************************************************/
#about .container-fluid{
	background: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

#about img{
	margin-bottom: 15px;
	max-height: 175px;
	max-width: 200px;
	border-radius: 5px;
}

#about h4{
	padding: 10px;
}

.welcome p{
	padding: 10px;
	padding-bottom: 20px;
	max-width: 500px;
	margin: auto;
}

/********* Projects *********************************************************/
@media (max-width: 767px) {
  .card {
    margin-top: 20px;
  }
}

.card{
	width: 100%;
}

#projects .container-fluid{
	background: #eee;
}

#projects h1{	
	padding-top: 30px;
	padding-bottom: 20px;
}

.card-img-top{
	padding: 20px;
}

#projects .row{
	padding-bottom: 15px;
}

/****** Contact *************************************************/
#contact .container-fluid{
	background: white;
	display: flex;
	align-items: center;
}

#contact h1{
	font-size: 24px;
	padding-top: 30px;
	padding-bottom: 15px;
}

#contact form button{
	width: 100px;
}

/****** Footer *************************************************/
footer .container{
	color: white;
	margin-top: 0;
}

footer{
	background: green;
}

footer a{
	color: white;
}

footer a{
	padding: 5px;
}

/******* At media queries ******************************************/

@media(min-width: 768px){
	#contact .container-fluid{
		height: 100vh;
	}
}