p {
	font-size: 18px;
}

/********** Navigation ***************************************************/
nav{
	background: blue;
}
.nav-item{
	font-size: 1.15rem;
}

/*********** About *********************************************************/
#about .container-fluid{
	background: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

#about img{
	margin-bottom: 35px;
	max-height: 175px;
	max-width: 200px;
	border-radius: 5px;
}

.welcome p{
	max-width: 500px;
	margin: auto;
}

/********* Projects *********************************************************/
#projects {
	background: #eee;
}

#projects h1{
	font-size: 26px;	
	padding-top: 30px;
	margin-bottom: 20px;
}

#projects h4 {
	font-size: 18px;
}

.card-img-top{
	padding: 20px;
}

#projects .row{
	padding-bottom: 15px;
	justify-content: center;
}

.card {
	max-width: 375px;
	min-width: 250px;
	margin: auto;
}

/****** Contact *************************************************************/
#contact .container-fluid{
	background: white;
	display: flex;
	align-items: center;
}

#contact h1{
	font-size: 24px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#contact form button{
	width: 100px;
}

/****** Footer *************************************************************/
footer .container{
	color: white;
	margin-top: 0;
}

footer{
	background: green;
}

footer a{
	color: white;
}

footer a{
	padding: 5px;
}

/******* At media queries ************************************************/
@media (max-width: 768px) {
  .card {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;    
  }

  #projects h1 {
	margin-bottom: 0;
	}
}

@media(min-width: 768px) {
	#contact .container-fluid {
		height: 100vh;
	}
}

@media (min-width: 768px) {
	.card {
		margin-bottom: 20px;
	}
}